In [1]:
from time import time
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
green_trip_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'
taxi_zone_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [3]:
df = pd.read_csv('../data/green_tripdata_2019-10.csv')

/tmp/ipykernel_10016/3126871701.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/green_tripdata_2019-10.csv')

In [4]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  476386 non-null  datetime64[ns]
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: datetime64[ns](2), float64(15), int64(2), object(1)
memory usage: 72.7+ MB

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv('../data/green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

In [ ]:
len(df)

In [ ]:
# write first 100,000 rows to green_taxi_data
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

In [ ]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
df_zones = pd.read_csv('../data/taxi_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
print(pd.io.sql.get_schema(df_zones, name='zones', con=engine))

In [ ]:
df_zones.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='append')

In [6]:
# hw qns 3
# Assuming your DataFrame is already loaded as `df`
# Filter for the specified date range
start_date = pd.Timestamp("2019-10-01")
end_date = pd.Timestamp("2019-11-01")
filtered_df = df[(df["lpep_pickup_datetime"] >= start_date) & (df["lpep_pickup_datetime"] < end_date)]

# Categorize trips based on trip_distance
categories = {
    "up_to_1_mile": filtered_df[filtered_df["trip_distance"] <= 1].shape[0],
    "between_1_and_3_miles": filtered_df[(filtered_df["trip_distance"] > 1) & (filtered_df["trip_distance"] <= 3)].shape[0],
    "between_3_and_7_miles": filtered_df[(filtered_df["trip_distance"] > 3) & (filtered_df["trip_distance"] <= 7)].shape[0],
    "between_7_and_10_miles": filtered_df[(filtered_df["trip_distance"] > 7) & (filtered_df["trip_distance"] <= 10)].shape[0],
    "over_10_miles": filtered_df[filtered_df["trip_distance"] > 10].shape[0]
}

# Print the results
print(categories)

{'up_to_1_mile': 104830, 'between_1_and_3_miles': 198995, 'between_3_and_7_miles': 109642, 'between_7_and_10_miles': 27686, 'over_10_miles': 35201}

In [7]:
max(filtered_df.lpep_pickup_datetime)

Timestamp('2019-10-31 23:59:35')

In [9]:
min(filtered_df.lpep_pickup_datetime)

Timestamp('2019-10-01 00:00:00')

In [13]:
sum(filtered_df['trip_distance'] <= 1)

104830